<h3>Add New Album to Inventory</h3>

<input #newTitle placeholder="Album Title:" [(ngModel)]="title">
<br>
<input #newArtist placeholder="Album Artist:" [(ngModel)]="artist">
<br>
<textarea #newDescription placeholder="Album Description:" [(ngModel)]="description"></textarea>
<br>

<input type="file" id="imageUpload" [(ngModel)]="image" style="display:none;">
<div id="image-upload-button" onclick="document.getElementById('imageUpload').click();">Upload Image</div><span id="progress"></span>

<input type="text" #nawAudio placeholder="Audio URL" [(ngModel)]="audio">

<br><br>
<button (click)="submitForm()">Add</button>

<hr>

<app-edit-album></app-edit-album>
