<app-auth></app-auth>

<h3>Add New Album to Inventory</h3>

<input #newTitle placeholder="Album Title:">
<br>

<input #newArtist placeholder="Album Artist:">
<br>

<input #newImage placeholder="Album Image Source:">
<br>

<input #newAudio placeholder="Album Audio Source:">
<br>

<textarea #newDescription placeholder="Album Description:"></textarea>
<br><br>
<button (click)="submitForm(newTitle.value, newArtist.value, newDescription.value, newImage.value, newAudio.value); newAudio.value=''; newImage.value=''; newTitle.value=''; newArtist.value=''; newDescription.value='';">Add</button>

<hr>

<app-edit-album></app-edit-album>
