<div class="row">
  <div class="col-sm-6">
    <h3>{{(albumToDisplay | async)?.title}}</h3>
    <strong>{{(albumToDisplay | async)?.artist}}</strong>
    <br><br>
    <p>{{(albumToDisplay | async)?.description}}</p>
    <audio controls *ngIf="(albumToDisplay | async)?.audio">
      <source src="{{(albumToDisplay | async)?.audio}}" type="audio/mpeg">
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="col-sm-6">
    <img src="{{(albumToDisplay | async)?.image}}">
  </div>
</div>
